%h4.page-title
  != "Discipline: <i>#{@discipline.name}</i>"
- if policy(Discipline).edit?
  = link_to 'Edit', edit_discipline_path(@discipline), :class => "btn btn-secondary btn-sm"
%br
%h5
  !="Repositories supporting the discipline: <i>#{@discipline.name}</i>"

= render(:partial => 'repositories/table',:locals => {:repository_list => @discipline.repositories})
