%table.invisible-layout-table
  %table.invisible-layout-table
    %tr
      %td.field-name
        Academic Applicant Only?:
      %td.field-value
        = f.text_field :academic_applicant_only
    %tr
      %td.field-name
        Accepted Content Formats:
      %td.field-value
        = f.text_field :accepted_content_formats
    %tr
      %td.field-name
        Accepted Content Languages:
      %td.field-value
        = f.text_field :accepted_content_languages
    %tr
      %td.field-name
        Accepted Content Level:
      %td.field-value
        = f.text_field :accepted_content_level
    %tr
      %td.field-name
        Accepted Supplementary Content:
      %td.field-value
        = f.text_area :accepted_supplementary_content, :rows => 3, :maxlength => "255"
    %tr
      %td.field-name
        Associated Editor:
      %td.field-value
        = f.text_field :associated_editor
    %tr
      %td.field-name
        Associated Journal:
      %td.field-value
        = f.text_field :associated_journal
    %tr
      %td.field-name
        Author PID:
      %td.field-value
        = f.text_field :author_pid
    %tr
      %td.field-name
        Availability of Associated Content:
      %td.field-value
        = f.text_area :availability_of_associated_content, :rows => 3, :maxlength => "255"
    %tr
      %td.field-name
        Journal Submission:
      %td.field-value
        = f.text_field :journal_submission
    %tr
      %td.field-name
        Licensing:
      %td.field-value
        = f.text_field :licensing
    %tr
      %td.field-name
        Mechanisms to Report Concerns About Content:
      %td.field-value
        = f.text_field :mechanisms_to_report_concerns_about_content
    %tr
      %td.field-name
        Mechanisms to Report Concerns About Plagiarism:
      %td.field-value
        = f.text_field :mechanisms_to_report_concerns_about_plagiarism
    %tr
      %td.field-name
        Moderation:
      %td.field-value
        = f.text_area :moderation, :rows => 3, :maxlength => "255"
    %tr
      %td.field-name
        Peer Review Status Indication:
      %td.field-value
        = f.text_field :peer_review_status_indication
    %tr
      %td.field-name
        Persistent Identifier:
      %td.field-value
        = f.text_field :persistent_identifier
    %tr
      %td.field-name
        RemAining Indrawn Item:
      %td.field-value
        = f.text_field :remining_indrawn_item
    %tr
      %td.field-name
        Text Embargo:
      %td.field-value
        = f.text_field :text_embargo
    %tr
      %td.field-name
        Time from Submission to Posting:
      %td.field-value
        = f.text_field :time_from_submission_to_posting
    %tr
      %td.field-name
        Versioning Policy:
      %td.field-value
        = f.text_field :versioning_policy
    %tr
      %td.field-name
        Who can Deposit?:
      %td.field-value
        = f.text_field :who_can_deposit
    %tr
      %td.field-name
        Withdrawal Authorisation:
      %td.field-value
        = f.text_field :withdrawal_authorisation
    %tr
      %td.field-name
        Withdrawal Policy:
      %td.field-value
        = f.text_field :withdrawal_policy