%table.invisible-layout-table
  %tr
    %td.field-name
      access_to_content:
    %td.field-value
      = f.text_field :access_to_content
    %tr
      %td.field-name
        access_to_metadata:
      %td.field-value
        = f.text_field :access_to_metadata
    %tr
      %td.field-name
        account_creation:
      %td.field-value
        = f.text_field :account_creation
    %tr
      %td.field-name
        backups:
      %td.field-value
        = f.text_field :backups
    %tr
      %td.field-name
        functional_description:
      %td.field-value
        = f.text_field :functional_description
    %tr
      %td.field-name
        interoperability:
      %td.field-value
        = f.text_field :interoperability
    %tr
      %td.field-name
        metadata_formats:
      %td.field-value
        = f.text_field :metadata_formats
    %tr
      %td.field-name
        metadata_languages:
      %td.field-value
        = f.text_field :metadata_languages
    %tr
      %td.field-name
        metadata_properties:
      %td.field-value
        = f.text_field :metadata_properties
    %tr
      %td.field-name
        method_for_reuse_of_metadata:
      %td.field-value
        = f.text_field :method_for_reuse_of_metadata
    %tr
      %td.field-name
        open_source:
      %td.field-value
        = f.text_field :open_source
    %tr
      %td.field-name
        permission_for_re_use_of_metadata:
      %td.field-value
        = f.text_field :permission_for_re_use_of_metadata
    %tr
      %td.field-name
        persistence_of_content:
      %td.field-value
        = f.text_field :persistence_of_content
    %tr
      %td.field-name
        preservation_policy:
      %td.field-value
        = f.text_field :preservation_policy