%table.invisible-layout-table
  %tr
    %td.field-name
      url:
    %td.field-value
      = f.text_field :url
  %tr
    %td.field-name
      full_name:
    %td.field-value
      = f.text_field :full_name
  %tr
    %td.field-name
      short_name:
    %td.field-value
      = f.text_field :short_name
  %tr
    %td.field-name
      description:
    %td.field-value
      = f.text_field :description
  %tr
    %td.field-name
      accepted_content_types:
    %td.field-value
      = f.text_field :accepted_content_types
  %tr
    %td.field-name
      certificate_or_labels:
    %td.field-value
      = f.text_field :certificate_or_labels
  %tr
    %td.field-name
      closure_date:
    %td.field-value
      = f.text_field :closure_date
  %tr
    %td.field-name
      contact:
    %td.field-value
      = f.text_field :contact
  %tr
    %td.field-name
      disciplinary_scope:
    %td.field-value
      = f.text_field :disciplinary_scope
  %tr
    %td.field-name
      keywords:
    %td.field-value
      = f.text_field :keywords
  %tr
    %td.field-name
      launch_date:
    %td.field-value
      = f.text_field :launch_date
  %tr
    %td.field-name
      oai_pmh_url:
    %td.field-value
      = f.text_field :oai_pmh_url
  %tr
    %td.field-name
      opendoar_id:
    %td.field-value
      = f.text_field :opendoar_id
  %tr
    %td.field-name
      platform:
    %td.field-value
      = f.text_field :platform
  %tr
    %td.field-name
      platform_languages:
    %td.field-value
      = f.text_field :platform_languages
  %tr
    %td.field-name
      record_count:
    %td.field-value
      = f.text_field :record_count
  %tr
    %td.field-name
      repository_type:
    %td.field-value
      = f.text_field :repository_type
  %tr
    %td.field-name
      service_pricing:
    %td.field-value
      = f.text_field :service_pricing
  %tr
    %td.field-name
      Status:
    %td.field-value
      - if @repository.new_record?
        = f.select "status_id", options_from_collection_for_select(Status.all, "id", "name",1)
      - else
        = f.select "status_id", options_from_collection_for_select(Status.all, "id", "name", @repository.status.id)
  %tr
    %td.field-name
      terms_of_use:
    %td.field-value
      = f.text_field :terms_of_use
  %tr
    %td.field-name
      last_update:
    %td.field-value
      = f.text_field :last_update