= form_for @repository do |f|
  - if @repository.errors.any?
    #error_explanation
      %h2= "#{pluralize(@repository.errors.count, "error")} prohibited this repository from being saved:"
      %ul
        - @repository.errors.full_messages.each do |message|
          %li= message
  %ul{class:"nav nav-tabs", id:"myTab",role:"tablist"}
    %li{class:"nav-item",role:"presentation"}
      %button{class:"nav-link active tab-general", id:"home-tab", "data-bs-toggle":"tab","data-bs-target":"#home", type:"button",role:"tab", "aria-controls":"home", "aria-selected":"true"}
        General
    %li{class:"nav-item",role:"presentation"}
      %button{class:"nav-link tab-governance", id:"governance-tab", "data-bs-toggle":"tab","data-bs-target":"#governance", type:"button",role:"tab", "aria-controls":"governance", "aria-selected":"false"}
        Governance
    %li{class:"nav-item",role:"presentation"}
      %button{class:"nav-link tab-features", id:"features-tab", "data-bs-toggle":"tab","data-bs-target":"#features", type:"button",role:"tab", "aria-controls":"features", "aria-selected":"false"}
        Features
    %li{class:"nav-item",role:"presentation"}
      %button{class:"nav-link tab-editorial", id:"editorial-tab", "data-bs-toggle":"tab","data-bs-target":"#editorial", type:"button",role:"tab", "aria-controls":"editorial", "aria-selected":"false"}
        Editorial Process
  %div.tab-content#tabContent
    %div{class:"tab-pane fade show active tab-general", id:"home",role:"tabpanel","aria-labelledby":"home-tab"}
      = render(:partial => 'form_general',:locals => {:f => f})
    %div{class:"tab-pane fade tab-governance", id:"governance",role:"tabpanel","aria-labelledby":"governance-tab"}
      = render(:partial => 'form_governance',:locals => {:f => f})
    %div{class:"tab-pane fade tab-features", id:"features",role:"tabpanel","aria-labelledby":"features-tab"}
      = render(:partial => 'form_features',:locals => {:f => f})
    %div{class:"tab-pane fade tab-editorial", id:"editorial",role:"tabpanel","aria-labelledby":"editorial-tab"}
      = render(:partial => 'form_editorial',:locals => {:f => f})
  .actions
    = link_to 'Cancel', @repository, :class => "btn btn-secondary btn-sm"
    = f.submit 'Save', :class => 'btn btn-success btn-sm'
