%table.invisible-layout-table
  %table.invisible-layout-table
    %tr
      %td.field-name
        academic_applicant_only:
      %td.field-value
        = f.text_field :academic_applicant_only
    %tr
      %td.field-name
        accepted_content_formats:
      %td.field-value
        = f.text_field :accepted_content_formats
    %tr
      %td.field-name
        accepted_content_languages:
      %td.field-value
        = f.text_field :accepted_content_languages
    %tr
      %td.field-name
        accepted_content_level:
      %td.field-value
        = f.text_field :accepted_content_level

    %tr
      %td.field-name
        accepted_supplementary_content:
      %td.field-value
        = f.text_field :accepted_supplementary_content
    %tr
      %td.field-name
        associated_editor:
      %td.field-value
        = f.text_field :associated_editor
    %tr
      %td.field-name
        associated_journal:
      %td.field-value
        = f.text_field :associated_journal
    %tr
      %td.field-name
        author_pid:
      %td.field-value
        = f.text_field :author_pid
    %tr
      %td.field-name
        availability_of_associated_content:
      %td.field-value
        = f.text_field :availability_of_associated_content
    %tr
      %td.field-name
        editorial_notes:
      %td.field-value
        = f.text_field :editorial_notes
    %tr
      %td.field-name
        journal_submission:
      %td.field-value
        = f.text_field :journal_submission
    %tr
      %td.field-name
        licensing:
      %td.field-value
        = f.text_field :licensing
    %tr
      %td.field-name
        mechanisms_to_report_concerns_about_content:
      %td.field-value
        = f.text_field :mechanisms_to_report_concerns_about_content
    %tr
      %td.field-name
        mechanisms_to_report_concerns_about_plagiarism:
      %td.field-value
        = f.text_field :mechanisms_to_report_concerns_about_plagiarism
    %tr
      %td.field-name
        moderation:
      %td.field-value
        = f.text_field :moderation
    %tr
      %td.field-name
        peer_review_status_indication:
      %td.field-value
        = f.text_field :peer_review_status_indication
    %tr
      %td.field-name
        persistent_identifier:
      %td.field-value
        = f.text_field :persistent_identifier
    %tr
      %td.field-name
        remining_indrawn_item:
      %td.field-value
        = f.text_field :remining_indrawn_item
    %tr
      %td.field-name
        text_embargo:
      %td.field-value
        = f.text_field :text_embargo
    %tr
      %td.field-name
        time_from_submission_to_posting:
      %td.field-value
        = f.text_field :time_from_submission_to_posting
    %tr
      %td.field-name
        versioning_policy:
      %td.field-value
        = f.text_field :versioning_policy
    %tr
      %td.field-name
        who_can_deposit:
      %td.field-value
        = f.text_field :who_can_deposit
    %tr
      %td.field-name
        withdrawal_authorisation:
      %td.field-value
        = f.text_field :withdrawal_authorisation
    %tr
      %td.field-name
        withdrawal_policy:
      %td.field-value
        = f.text_field :withdrawal_policy