= form_for @repository do |f|
  - if @repository.errors.any?
    #error_explanation
      %h2= "#{pluralize(@repository.errors.count, "error")} prohibited this repository from being saved:"
      %ul
        - @repository.errors.full_messages.each do |message|
          %li= message
  %ul{class:"nav nav-pills mb-3", id:"pills-tab", role:"tablist"}
    %li{class: "nav-item", role:"presentation"}
      %button{class:"nav-link active", id:"pills-home-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-home", type:"button", role:"tab","aria-controls":"pills-home", "aria-selected":"true"} General
    %li{class: "nav-item", role:"presentation"}
      %button{class:"nav-link", id:"pills-governance-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-governance", type:"button", role:"tab","aria-controls":"pills-governance", "aria-selected":"true"} Governance
    %li{class: "nav-item", role:"presentation"}
      %button{class:"nav-link", id:"pills-features-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-features", type:"button", role:"tab","aria-controls":"pills-features", "aria-selected":"true"} Features &amp; Functions
    %li{class: "nav-item", role:"presentation"}
      %button{class:"nav-link", id:"pills-editorial-tab", "data-bs-toggle":"pill", "data-bs-target":"#pills-editorial", type:"button", role:"tab","aria-controls":"pills-editorial", "aria-selected":"true"} Editorial Process
  %div.tab-content#pills-tabContent
    %div{class:"tab-pane fade show active", id:"pills-home",role:"tabpanel","aria-labelledby":"pills-home-tab",style:"background-color: #def3fd;"}
      = render(:partial => 'form_general',:locals => {:f => f})
    %div{class:"tab-pane fade", id:"pills-governance",role:"tabpanel","aria-labelledby":"pills-governance-tab",style:"background-color: #fcf7de;"}
      = render(:partial => 'form_governance',:locals => {:f => f})
    %div{class:"tab-pane fade", id:"pills-features",role:"tabpanel","aria-labelledby":"pills-features-tab",style:"background-color: #fddfdf;"}
      = render(:partial => 'form_features',:locals => {:f => f})
    %div{class:"tab-pane fade", id:"pills-editorial",role:"tabpanel","aria-labelledby":"pills-editorial-tab",style:"background-color: #f0defd;"}
      = render(:partial => 'form_editorial',:locals => {:f => f})
  .actions
    = link_to 'Cancel', @repository, :class => "btn btn-secondary btn-sm"
    = f.submit 'Save', :class => 'btn btn-success btn-sm'
