%table.invisible-layout-table
  %tr
    %td.field-name
      Access to Content:
    %td.field-value
      = f.text_field :access_to_content
    %tr
      %td.field-name
        Access to Metadata:
      %td.field-value
        = f.text_field :access_to_metadata
    %tr
      %td.field-name
        Account Creation:
      %td.field-value
        = f.text_field :account_creation
    %tr
      %td.field-name
        Backups:
      %td.field-value
        = f.text_field :backups
    %tr
      %td.field-name
        Functional Description:
      %td.field-value
        = f.text_field :functional_description
    %tr
      %td.field-name
        Interoperability:
      %td.field-value
        = f.text_field :interoperability
    %tr
      %td.field-name
        Metadata Formats:
      %td.field-value
        = f.text_field :metadata_formats
    %tr
      %td.field-name
        Metadata Languages:
      %td.field-value
        = f.text_field :metadata_languages
    %tr
      %td.field-name
        Metadata Properties:
      %td.field-value
        = f.text_area :metadata_properties, :rows => 3, :maxlength => "255"
    %tr
      %td.field-name
        Method for Reuse of Metadata:
      %td.field-value
        = f.text_field :method_for_reuse_of_metadata
    %tr
      %td.field-name
        Open Source:
      %td.field-value
        = f.text_field :open_source
    %tr
      %td.field-name
        Permission for Re-use of Metadata:
      %td.field-value
        = f.text_field :permission_for_re_use_of_metadata
    %tr
      %td.field-name
        Persistence of Content:
      %td.field-value
        = f.text_field :persistence_of_content
    %tr
      %td.field-name
        Preservation Policy:
      %td.field-value
        = f.text_field :preservation_policy