%table.invisible-layout-table
  %tr
    %td.field-name
      access_to_content:
    %td
      = @repository.access_to_content
    %tr
      %td.field-name
        access_to_metadata:
      %td
        = @repository.access_to_metadata
    %tr
      %td.field-name
        account_creation:
      %td
        = @repository.account_creation
    %tr
      %td.field-name
        backups:
      %td
        = @repository.backups
    %tr
      %td.field-name
        functional_description:
      %td
        = @repository.functional_description
    %tr
      %td.field-name
        interoperability:
      %td
        = @repository.interoperability
    %tr
      %td.field-name
        metadata_formats:
      %td
        = @repository.metadata_formats
    %tr
      %td.field-name
        metadata_languages:
      %td
        = @repository.metadata_languages
    %tr
      %td.field-name
        metadata_properties:
      %td
        = @repository.metadata_properties
    %tr
      %td.field-name
        method_for_reuse_of_metadata:
      %td
        = @repository.method_for_reuse_of_metadata
    %tr
      %td.field-name
        open_source:
      %td
        = @repository.open_source
    %tr
      %td.field-name
        permission_for_re_use_of_metadata:
      %td
        = @repository.permission_for_re_use_of_metadata
    %tr
      %td.field-name
        persistence_of_content:
      %td
        = @repository.persistence_of_content
    %tr
      %td.field-name
        preservation_policy:
      %td
        = @repository.preservation_policy