%table.invisible-layout-table
  %tr
    %td.field-name
      accessibility_of_conflict_of_interest_procedures:
    %td
      = @repository.accessibility_of_conflict_of_interest_procedures
  %tr
    %td.field-name
      Business Model:
    %td
      = @repository.business_model.name
  %tr
    %td.field-name
      funding:
    %td
      = @repository.funding
  %tr
    %td.field-name
      objectives:
    %td
      = @repository.objectives
  %tr
    %td.field-name
      Owner Countries:
    %td
      -#@TODO
  %tr
    %td.field-name
      owner_full_name:
    %td
      = @repository.owner_full_name
  %tr
    %td.field-name
      owner_short_name:
    %td
      = @repository.owner_short_name
  %tr
    %td.field-name
      owner_url:
    %td
      = @repository.owner_url
  %tr
    %td.field-name
      ownership_type:
    %td
      = @repository.ownership_type
  %tr
    %td.field-name
      scientific_technical_committees:
    %td
      = @repository.scientific_technical_committees
  %tr
    %td.field-name
      user_committees:
    %td
      = @repository.user_committees