%table.invisible-layout-table
  %tr
    %td.field-name
      Accessibility of Conflict of Interest Procedures:
    %td
      = @repository.accessibility_of_conflict_of_interest_procedures
  %tr
    %td.field-name
      Business Model:
    %td
      = @repository.business_model.name
  %tr
    %td.field-name
      Funding:
    %td
      = @repository.funding
  %tr
    %td.field-name
      Objectives:
    %td
      = @repository.objectives
  %tr
    %td.field-name
      Owner Countries:
    %td
      -#@TODO
  %tr
    %td.field-name
      Owner Full Name:
    %td
      = @repository.owner_full_name
  %tr
    %td.field-name
      Owner Short Name:
    %td
      = @repository.owner_short_name
  %tr
    %td.field-name
      Owner URL:
    %td
      = @repository.owner_url
  %tr
    %td.field-name
      Ownership Type:
    %td
      = @repository.ownership_type
  %tr
    %td.field-name
      Scientific Technical Committees:
    %td
      = @repository.scientific_technical_committees
  %tr
    %td.field-name
      User Committees:
    %td
      = @repository.user_committees