%table.invisible-layout-table
  %tr
    %td.field-name
      URL:
    %td
      = @repository.url
  %tr
    %td.field-name
      Full Name:
    %td
      = @repository.full_name
  %tr
    %td.field-name
      Short Name (or Acronym):
    %td
      = @repository.short_name
  %tr
    %td.field-name
      Description:
    %td
      = @repository.description
  %tr
    %td.field-name
      Accepted Content Types:
    %td
      = @repository.accepted_content_types
  %tr
    %td.field-name
      Certificate or Labels:
    %td
      = @repository.certificate_or_labels
  %tr
    %td.field-name
      Closure Date:
    %td
      = @repository.closure_date
  %tr
    %td.field-name
      Contact:
    %td
      = @repository.contact
  %tr
    %td.field-name
      Disciplinary Scope:
    %td
      = @repository.disciplinary_scope
  %tr
    %td.field-name
      Keywords:
    %td
      = @repository.keywords
  %tr
    %td.field-name
      Launch Date:
    %td
      = @repository.launch_date
  %tr
    %td.field-name
      OAI-PMH URL:
    %td
      = @repository.oai_pmh_url
  %tr
    %td.field-name
      OpenDOAR ID:
    %td
      = @repository.opendoar_id
  %tr
    %td.field-name
      Platform:
    %td
      = @repository.platform
  %tr
    %td.field-name
      Platform Languages:
    %td
      = @repository.platform_languages
  %tr
    %td.field-name
      Record Count:
    %td
      = @repository.record_count
  %tr
    %td.field-name
      Repository Type:
    %td
      = @repository.repository_type
  %tr
    %td.field-name
      Service Pricing:
    %td
      = @repository.service_pricing
  %tr
    %td.field-name
      Status:
    %td
      = @repository.status.name
  %tr
    %td.field-name
      Terms of Use:
    %td
      = @repository.terms_of_use
  %tr
    %td.field-name
      Last Update:
    %td
      = @repository.last_update