%table.invisible-layout-table
  %tr
    %td.field-name
      Access to Content:
    %td
      = @repository.access_to_content
    %tr
      %td.field-name
        Access to Metadata:
      %td
        = @repository.access_to_metadata
    %tr
      %td.field-name
        Account Creation:
      %td
        = @repository.account_creation
    %tr
      %td.field-name
        Backups:
      %td
        = @repository.backups
    %tr
      %td.field-name
        Functional Description:
      %td
        = @repository.functional_description
    %tr
      %td.field-name
        Interoperability:
      %td
        = @repository.interoperability
    %tr
      %td.field-name
        Metadata Formats:
      %td
        = @repository.metadata_formats
    %tr
      %td.field-name
        Metadata Languages:
      %td
        = @repository.metadata_languages
    %tr
      %td.field-name
        Metadata Properties:
      %td
        = @repository.metadata_properties
    %tr
      %td.field-name
        Method for Reuse of Metadata:
      %td
        = @repository.method_for_reuse_of_metadata
    %tr
      %td.field-name
        Open Source:
      %td
        = @repository.open_source
    %tr
      %td.field-name
        Permission for Re-use of Metadata:
      %td
        = @repository.permission_for_re_use_of_metadata
    %tr
      %td.field-name
        Persistence of Content:
      %td
        = @repository.persistence_of_content
    %tr
      %td.field-name
        Preservation Policy:
      %td
        = @repository.preservation_policy