%table.invisible-layout-table
  %table.invisible-layout-table
    %tr
      %td.field-name
        Academic Applicant Only?:
      %td
        = @repository.academic_applicant_only
    %tr
      %td.field-name
        Accepted Content Formats:
      %td
        = @repository.accepted_content_formats
    %tr
      %td.field-name
        Accepted Content Languages:
      %td
        = @repository.accepted_content_languages
    %tr
      %td.field-name
        Accepted Content Level:
      %td
        = @repository.accepted_content_level

    %tr
      %td.field-name
        Accepted Supplementary Content:
      %td
        = @repository.accepted_supplementary_content
    %tr
      %td.field-name
        Associated Editor:
      %td
        = @repository.associated_editor
    %tr
      %td.field-name
        Associated Journal:
      %td
        = @repository.associated_journal
    %tr
      %td.field-name
        Author PID:
      %td
        = @repository.author_pid
    %tr
      %td.field-name
        Availability of Associated Content:
      %td
        = @repository.availability_of_associated_content
    %tr
      %td.field-name
        Journal Submission:
      %td
        = @repository.journal_submission
    %tr
      %td.field-name
        Licensing:
      %td
        = @repository.licensing
    %tr
      %td.field-name
        Mechanisms to Report Concerns About Content:
      %td
        = @repository.mechanisms_to_report_concerns_about_content
    %tr
      %td.field-name
        Mechanisms to Report Concerns About Plagiarism:
      %td
        = @repository.mechanisms_to_report_concerns_about_plagiarism
    %tr
      %td.field-name
        Moderation:
      %td
        = @repository.moderation
    %tr
      %td.field-name
        Peer Review Status Indication:
      %td
        = @repository.peer_review_status_indication
    %tr
      %td.field-name
        Persistent Identifier:
      %td
        = @repository.persistent_identifier
    %tr
      %td.field-name
        Remaining Indrawn Item:
      %td
        = @repository.remining_indrawn_item
    %tr
      %td.field-name
        Text Embargo:
      %td
        = @repository.text_embargo
    %tr
      %td.field-name
        Time from Submission to Posting:
      %td
        = @repository.time_from_submission_to_posting
    %tr
      %td.field-name
        Versioning Policy:
      %td
        = @repository.versioning_policy
    %tr
      %td.field-name
        WhO can Deposit?:
      %td
        = @repository.who_can_deposit
    %tr
      %td.field-name
        Withdrawal Authorisation:
      %td
        = @repository.withdrawal_authorisation
    %tr
      %td.field-name
        Withdrawal Policy:
      %td
        = @repository.withdrawal_policy
    %tr
      %td.field-name
        Editorial Notes:
      %td
        = @repository.editorial_notes