%table.invisible-layout-table
  %table.invisible-layout-table
    %tr
      %td.field-name
        academic_applicant_only:
      %td
        = @repository.academic_applicant_only
    %tr
      %td.field-name
        accepted_content_formats:
      %td
        = @repository.accepted_content_formats
    %tr
      %td.field-name
        accepted_content_languages:
      %td
        = @repository.accepted_content_languages
    %tr
      %td.field-name
        accepted_content_level:
      %td
        = @repository.accepted_content_level

    %tr
      %td.field-name
        accepted_supplementary_content:
      %td
        = @repository.accepted_supplementary_content
    %tr
      %td.field-name
        associated_editor:
      %td
        = @repository.associated_editor
    %tr
      %td.field-name
        associated_journal:
      %td
        = @repository.associated_journal
    %tr
      %td.field-name
        author_pid:
      %td
        = @repository.author_pid
    %tr
      %td.field-name
        availability_of_associated_content:
      %td
        = @repository.availability_of_associated_content
    %tr
      %td.field-name
        editorial_notes:
      %td
        = @repository.editorial_notes
    %tr
      %td.field-name
        journal_submission:
      %td
        = @repository.journal_submission
    %tr
      %td.field-name
        licensing:
      %td
        = @repository.licensing
    %tr
      %td.field-name
        mechanisms_to_report_concerns_about_content:
      %td
        = @repository.mechanisms_to_report_concerns_about_content
    %tr
      %td.field-name
        mechanisms_to_report_concerns_about_plagiarism:
      %td
        = @repository.mechanisms_to_report_concerns_about_plagiarism
    %tr
      %td.field-name
        moderation:
      %td
        = @repository.moderation
    %tr
      %td.field-name
        peer_review_status_indication:
      %td
        = @repository.peer_review_status_indication
    %tr
      %td.field-name
        persistent_identifier:
      %td
        = @repository.persistent_identifier
    %tr
      %td.field-name
        remining_indrawn_item:
      %td
        = @repository.remining_indrawn_item
    %tr
      %td.field-name
        text_embargo:
      %td
        = @repository.text_embargo
    %tr
      %td.field-name
        time_from_submission_to_posting:
      %td
        = @repository.time_from_submission_to_posting
    %tr
      %td.field-name
        versioning_policy:
      %td
        = @repository.versioning_policy
    %tr
      %td.field-name
        who_can_deposit:
      %td
        = @repository.who_can_deposit
    %tr
      %td.field-name
        withdrawal_authorisation:
      %td
        = @repository.withdrawal_authorisation
    %tr
      %td.field-name
        withdrawal_policy:
      %td
        = @repository.withdrawal_policy