%table.invisible-layout-table
  %tr
    %td.field-name
      url:
    %td
      = @repository.url
  %tr
    %td.field-name
      full_name:
    %td
      = @repository.full_name
  %tr
    %td.field-name
      short_name:
    %td
      = @repository.short_name
  %tr
    %td.field-name
      description:
    %td
      = @repository.description
  %tr
    %td.field-name
      accepted_content_types:
    %td
      = @repository.accepted_content_types
  %tr
    %td.field-name
      certificate_or_labels:
    %td
      = @repository.certificate_or_labels
  %tr
    %td.field-name
      closure_date:
    %td
      = @repository.closure_date
  %tr
    %td.field-name
      contact:
    %td
      = @repository.contact
  %tr
    %td.field-name
      disciplinary_scope:
    %td
      = @repository.disciplinary_scope
  %tr
    %td.field-name
      keywords:
    %td
      = @repository.keywords
  %tr
    %td.field-name
      launch_date:
    %td
      = @repository.launch_date
  %tr
    %td.field-name
      oai_pmh_url:
    %td
      = @repository.oai_pmh_url
  %tr
    %td.field-name
      opendoar_id:
    %td
      = @repository.opendoar_id
  %tr
    %td.field-name
      platform:
    %td
      = @repository.platform
  %tr
    %td.field-name
      platform_languages:
    %td
      = @repository.platform_languages
  %tr
    %td.field-name
      record_count:
    %td
      = @repository.record_count
  %tr
    %td.field-name
      repository_type:
    %td
      = @repository.repository_type
  %tr
    %td.field-name
      service_pricing:
    %td
      = @repository.service_pricing
  %tr
    %td.field-name
      Status:
    %td
      = @repository.status.name
  %tr
    %td.field-name
      terms_of_use:
    %td
      = @repository.terms_of_use
  %tr
    %td.field-name
      last_update:
    %td
      = @repository.last_update