%h4.page-title
  = "Repository: #{@repository.full_name}"
- if policy(Repository).edit?
  = link_to 'Edit', edit_repository_path(@repository), :class => "btn btn-secondary btn-sm"
%table.invisible-layout-table
  %tr
    %td.field-name
      Description:
    %td
      = @repository.description
  %tr
    %td.field-name
      academic_applicant_only:
    %td
      = @repository.academic_applicant_only
  %tr
    %td.field-name
      accepted_content_formats:
    %td
      = @repository.accepted_content_formats
  %tr
    %td.field-name
      accepted_content_languages:
    %td
      = @repository.accepted_content_languages
  %tr
    %td.field-name
      accepted_content_level:
    %td
      = @repository.accepted_content_level
  %tr
    %td.field-name
      accepted_content_types:
    %td
      = @repository.accepted_content_types
  %tr
    %td.field-name
      accepted_supplementary_content:
    %td
      = @repository.accepted_supplementary_content
  %tr
    %td.field-name
      access_to_content:
    %td
      = @repository.access_to_content
  %tr
    %td.field-name
      access_to_metadata:
    %td
      = @repository.access_to_metadata
  %tr
    %td.field-name
      accessibility_of_conflict_of_interest_procedures:
    %td
      = @repository.accessibility_of_conflict_of_interest_procedures
  %tr
    %td.field-name
      account_creation:
    %td
      = @repository.account_creation
  %tr
    %td.field-name
      associated_editor:
    %td
      = @repository.associated_editor
  %tr
    %td.field-name
      associated_journal:
    %td
      = @repository.associated_journal
  %tr
    %td.field-name
      author_pid:
    %td
      = @repository.author_pid
  %tr
    %td.field-name
      availability_of_associated_content:
    %td
      = @repository.availability_of_associated_content
  %tr
    %td.field-name
      backups:
    %td
      = @repository.backups
  %tr
    %td.field-name
      Business Model:
    %td
      = link_to @repository.business_model.name, @repository.business_model
  %tr
    %td.field-name
      certificate_or_labels:
    %td
      = @repository.certificate_or_labels
  %tr
    %td.field-name
      closure_date:
    %td
      = @repository.closure_date
  %tr
    %td.field-name
      contact:
    %td
      = @repository.contact
  %tr
    %td.field-name
      description:
    %td
      = @repository.description
  %tr
    %td.field-name
      disciplinary_scope:
    %td
      = @repository.disciplinary_scope
  %tr
    %td.field-name
      editorial_notes:
    %td
      = @repository.editorial_notes
  %tr
    %td.field-name
      full_name:
    %td
      = @repository.full_name
  %tr
    %td.field-name
      functional_description:
    %td
      = @repository.functional_description
  %tr
    %td.field-name
      funding:
    %td
      = @repository.funding
  %tr
    %td.field-name
      interoperability:
    %td
      = @repository.interoperability
  %tr
    %td.field-name
      journal_submission:
    %td
      = @repository.journal_submission
  %tr
    %td.field-name
      keywords:
    %td
      = @repository.keywords
  %tr
    %td.field-name
      last_update:
    %td
      = @repository.last_update
  %tr
    %td.field-name
      launch_date:
    %td
      = @repository.launch_date
  %tr
    %td.field-name
      licensing:
    %td
      = @repository.licensing
  %tr
    %td.field-name
      mechanisms_to_report_concerns_about_content:
    %td
      = @repository.mechanisms_to_report_concerns_about_content
  %tr
    %td.field-name
      mechanisms_to_report_concerns_about_plagiarism:
    %td
      = @repository.mechanisms_to_report_concerns_about_plagiarism
  %tr
    %td.field-name
      metadata_formats:
    %td
      = @repository.metadata_formats
  %tr
    %td.field-name
      metadata_languages:
    %td
      = @repository.metadata_languages
  %tr
    %td.field-name
      metadata_properties:
    %td
      = @repository.metadata_properties
  %tr
    %td.field-name
      method_for_reuse_of_metadata:
    %td
      = @repository.method_for_reuse_of_metadata
  %tr
    %td.field-name
      moderation:
    %td
      = @repository.moderation
  %tr
    %td.field-name
      oai_pmh_url:
    %td
      = @repository.oai_pmh_url
  %tr
    %td.field-name
      objectives:
    %td
      = @repository.objectives
  %tr
    %td.field-name
      open_source:
    %td
      = @repository.open_source
  %tr
    %td.field-name
      opendoar_id:
    %td
      = @repository.opendoar_id
  %tr
    %td.field-name
      owner_full_name:
    %td
      = @repository.owner_full_name
  %tr
    %td.field-name
      owner_short_name:
    %td
      = @repository.owner_short_name
  %tr
    %td.field-name
      owner_url:
    %td
      = @repository.owner_url
  %tr
    %td.field-name
      ownership_type:
    %td
      = @repository.ownership_type
  %tr
    %td.field-name
      peer_review_status_indication:
    %td
      = @repository.peer_review_status_indication
  %tr
    %td.field-name
      permission_for_re_use_of_metadata:
    %td
      = @repository.permission_for_re_use_of_metadata
  %tr
    %td.field-name
      persistence_of_content:
    %td
      = @repository.persistence_of_content
  %tr
    %td.field-name
      persistent_identifier:
    %td
      = @repository.persistent_identifier
  %tr
    %td.field-name
      platform:
    %td
      = @repository.platform
  %tr
    %td.field-name
      platform_languages:
    %td
      = @repository.platform_languages
  %tr
    %td.field-name
      preservation_policy:
    %td
      = @repository.preservation_policy
  %tr
    %td.field-name
      record_count:
    %td
      = @repository.record_count
  %tr
    %td.field-name
      remining_indrawn_item:
    %td
      = @repository.remining_indrawn_item
  %tr
    %td.field-name
      repository_type:
    %td
      = @repository.repository_type
  %tr
    %td.field-name
      scientific_technical_committees:
    %td
      = @repository.scientific_technical_committees
  %tr
    %td.field-name
      service_pricing:
    %td
      = @repository.service_pricing
  %tr
    %td.field-name
      short_name:
    %td
      = @repository.short_name
  %tr
    %td.field-name
      Status:
    %td
      = link_to @repository.status.name, @repository.status
  %tr
    %td.field-name
      terms_of_use:
    %td
      = @repository.terms_of_use
  %tr
    %td.field-name
      text_embargo:
    %td
      = @repository.text_embargo
  %tr
    %td.field-name
      time_from_submission_to_posting:
    %td
      = @repository.time_from_submission_to_posting
  %tr
    %td.field-name
      url:
    %td
      = @repository.url
  %tr
    %td.field-name
      user_committees:
    %td
      = @repository.user_committees
  %tr
    %td.field-name
      versioning_policy:
    %td
      = @repository.versioning_policy
  %tr
    %td.field-name
      who_can_deposit:
    %td
      = @repository.who_can_deposit
  %tr
    %td.field-name
      withdrawal_authorisation:
    %td
      = @repository.withdrawal_authorisation
  %tr
    %td.field-name
      withdrawal_policy:
    %td
      = @repository.withdrawal_policy
- if policy(Repository).edit?
  = link_to 'Edit', edit_repository_path(@repository), :class => "btn btn-secondary btn-sm"