%h4.page-title
  = "Repository: #{@repository.full_name}"

- if policy(Repository).edit?
  %div.edit-button
    = link_to 'Edit', edit_repository_path(@repository), :class => "btn btn-secondary btn-sm"

%ul{class:"nav nav-tabs", id:"myTab",role:"tablist"}
  %li{class:"nav-item",role:"presentation"}
    %button{class:"nav-link active tab-general", id:"home-tab", "data-bs-toggle":"tab","data-bs-target":"#home", type:"button",role:"tab", "aria-controls":"home", "aria-selected":"true"}
      General
  %li{class:"nav-item",role:"presentation"}
    %button{class:"nav-link tab-governance", id:"governance-tab", "data-bs-toggle":"tab","data-bs-target":"#governance", type:"button",role:"tab", "aria-controls":"governance", "aria-selected":"false"}
      Governance
  %li{class:"nav-item",role:"presentation"}
    %button{class:"nav-link tab-features", id:"features-tab", "data-bs-toggle":"tab","data-bs-target":"#features", type:"button",role:"tab", "aria-controls":"features", "aria-selected":"false"}
      Features &amp; Functions
  %li{class:"nav-item",role:"presentation"}
    %button{class:"nav-link tab-editorial", id:"editorial-tab", "data-bs-toggle":"tab","data-bs-target":"#editorial", type:"button",role:"tab", "aria-controls":"editorial", "aria-selected":"false"}
      Editorial Process
  %div.tab-content#tabContent
    %div{class:"tab-pane fade show active tab-general", id:"home",role:"tabpanel","aria-labelledby":"home-tab"}
      = render(:partial => 'show_general',:locals => {:repository => @repository})
    %div{class:"tab-pane fade tab-governance", id:"governance",role:"tabpanel","aria-labelledby":"governance-tab"}
      = render(:partial => 'show_governance',:locals => {:repository => @repository})
    %div{class:"tab-pane fade tab-features", id:"features",role:"tabpanel","aria-labelledby":"features-tab"}
      = render(:partial => 'show_features',:locals => {:repository => @repository})
    %div{class:"tab-pane fade tab-editorial", id:"editorial",role:"tabpanel","aria-labelledby":"editorial-tab"}
      = render(:partial => 'show_editorial',:locals => {:repository => @repository})


- if policy(Repository).edit?
  %div.edit-button
    = link_to 'Edit', edit_repository_path(@repository), :class => "btn btn-secondary btn-sm"