= form_for @service do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |message|
          %li= message
  %table.invisible-layout-table
    %tr
      %td.field-name
        Name:
      %td.field-value
        = f.text_field :name
    %tr
      %td.field-name
        Description:
      %td.field-value
        = f.text_field :description
  .actions
    = link_to 'Cancel', @service, :class => "btn btn-secondary btn-sm"
    = f.submit 'Save', :class => 'btn btn-success btn-sm'
