%h4.page-title
  != "Service: <i>#{@service.name}</i>"
%table.invisible-layout-table
  %tr
    %td.field-name Name:
    %td
      = @service.name
  %tr
    %td.field-name Description:
    %td
      = @service.description
- if policy(Service).edit?
  = link_to 'Edit', edit_service_path(@service), :class => "btn btn-secondary btn-sm"
%hr
%h5
  !="Repositories with this service: <i>#{@service.name}</i>"
= render(:partial => 'repositories/table',:locals => {:repository_list => @service.repositories})




