= link_to 'Disciplines', disciplines_url
|
= link_to 'Repositories', repositories_url
|
= link_to 'Services', services_url
|
= link_to 'Functions', functions_url
|
= link_to 'Business Models', business_models_url
|
= link_to 'Statuses', statuses_url
|
= link_to 'Countries', countries_url
|
= link_to 'About', about_url